.e1{
	font-family: arial;
	font-size: 150%;
	font-weight: 10;
}

.e2{
	font-family: verdana;
	font-size: 85%;
	font-weight: 80;
}

.e3{
	font-family: arial;
	font-size: 90%;
	font-weight: 100;
}

.e4{
	font-family: arial;
	font-size: 160%;
	font-weight: 80;
}
.e5{
	font-family: arial;
	font-size: 95%;
	font-weight: 70;
	margin-left: 10px;
}
.e6{
	font-family: arial;
	font-size: 120%;
	font-weight: 80;
	 
}

